<nav #sidebar class="sidebar close">
  <header>
    <div class="image-container">
      <span class="image">
        <img src="img/logo.webp" alt="logo">
      </span>
    </div>
    <i class='bx bx-chevron-right toggle' (click)="onToggleSidebar()"></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class='bx bx-search icon'></i>
        <input type="search" class="search" placeholder="Search ...">
      </li>
      <ul class="menu-links">
        @for (ml of menuLinks; track $index) {
          <li class="nav-link">
            <a [routerLink]="ml.route" [attr.aria-current]="isActive(ml.route) ? 'page' : ''">
              <i [ngClass]="[ml.iconClass, 'icon']"></i>
              <span class="text nav-text">{{ ml.label }}</span>
            </a>
          </li>
        }
      </ul>
    </div>
    <div class="bottom-content">
      <li>
        <a href="#">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>
      <li class="mode">
        <div class="moon-sun">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span #modeText class="mode-text text">Dark Mode</span>

        <div class="toggle-switch" (click)="onToggleMode()">
          <span class="switch"></span>
        </div>
      </li>

    </div>
  </div>
</nav>

<div class="overlay"></div>
