@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-text);
  font-family: "Inter";
}

body {
  height: 100vh;
  background-color: var(--color-background);
}

body.dark {
  --color-background: #0e0303;
  --color-text: #f9e0e3;
  --color-primary: #ea9498;
  --color-primary-light: #ea9498;
  --color-secondary: #1a8460;
  --color-accent: #357dd7;
  --color-sidebar: #0b0f12;
  --color-sidebar-light: #3d4752;
}

:root {
  --color-background: #fcf2f2;
  --color-text: #1e0609;
  --color-primary: #6a1519;
  --color-primary-light: #9b4a4f;
  --color-secondary: #7be5c2;
  --color-accent: #2870c8;
  --color-sidebar: #f8e6e6;
  --color-sidebar-light: #fdf2f2;

  /* -- Transitions -- */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}







