@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--color-background);
  color: var(--color-text);
  font-family: "Inter";
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
}

:root {
  --color-background: #ebf2f4;
  --color-text: #101b1e;
  --color-primary: #2b4d54;
  --color-secondary: #b28dc4;
  --color-accent: #914b86;
  --color-sidebar: #242c44;

  /* -- Transition -- */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0b1214;
    --color-text: #e1ecef;
    --color-primary: #abcdd4;
    --color-secondary: #603b72;
    --color-accent: #b46eaa;
  }
}





